<%= form_for @question do |q| %>
  <%= q.label :title %>
  <%= q.text_field :title, :style => "margin: 0px 0px 10px; width: 906px;" %>
  <%= q.label :content %>
  <%= q.bootsy_area :content, :style => "margin: 0px 0px 10px; width: 906px; height: 282px;" %>
  <%= q.label :tags %>
  <%= q.text_field :tags %><br/>
  <span id="tags"></span><br/>
  <%= q.submit 'Submit', :class => "btn btn-success" %>
<% end %>
<script>
  $('#question_tags').keyup(function(key){
    if(key.keyCode == 13){
      $('#tags').append($('#question_tags').val()+" ");
      $('#question_tags').val("");
      }
  });
  
 //prevent enter key form submittion 
  
  $("#question_tags").keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });


</script>
