<%= form_for @question do |q| %>
  <%= render "shared/validations" %>
  <%= q.label :title %>
  <%= q.text_field :title, :style => "margin: 0px 0px 10px; width: 650px;" %>
  <%= q.label :content %>
  <%= q.bootsy_area :content, :style => "margin: 0px 0px 10px; width: 650px; height: 221px;" %>
  <%= q.label :tags, "Category" %> 
  <%= q.select :category_id, options_from_collection_for_select(Category.all, :id, :title) %><br>
  <%= q.label :tags, "Project" %> 
  <%= q.select :project_id, options_from_collection_for_select(Project.all, :id, :title) %><br>
  <%= q.label :tags %>
  <%= q.hidden_field :tags %>
   <input type="text" id="tag">
    <i class="icon-plus-sign hand_sym" id="add_tag"></i><br>
    <span id="tags"></span><br/>
  <input type="checkbox" name="accepted">You want to post this question in stackoverflow
  <%= q.submit "Submit", :class=>"btn-info pull-right"%> <br><br>
<% end %>


<%= render "questions/question_side_bar" %>

<%= render "questions/script" %>




