<h1>Question</h1><hr/>
Title:<%= @question.title %><br/>
Content:<%= raw(@question.content) %><br/>
Tags related:<%= @question.tags %><br/>
  <% if @question.category.present? %>
    Category:<%= @question.category.title %><br>
  <% end %>
<%= link_to "Edit", edit_question_path(@question.id) %>
<%= link_to "Show All", questions_path %>



