<p class="pull-right">
<% @question.tags.split(',').each do |tag| %> 
  <span class="label label-info"><i class=" icon-tag"></i> <a href="#"><%= tag %></a></span>
  <% end %>
</p>
<p>
   <span class="label label-inverse"><i class="icon-briefcase"></i> <a href="#"><%= @question.category.title %></a></span>
</p>
<h4 class="post_title">
  <%= @question.title %> 
</h4>
<p class="post_content">
  <%= raw @question.content %>
</p>

<p class="pull-right posted_by">
  <i class="icon-user"></i> <%= @question.user.name %>
  <i class="icon-time"></i> <%= format_time(@question.created_at) %>
</p>

<p><b>Posted by:</b><%= @question.user.name %><br/>
    <% if current_user.present? %>
    <% if @question.user_id == current_user.id %>
      <%= link_to "Edit", edit_question_path(@question.id) %>
    <% end %>



<div class="answer-index">
  <%= render 'answers/index' %>
</div>




<a href="#" id="answer-link">Answer this question </a>
<div id="answer-form">
  <h4>Answer</h4>
  <%= render "answers/new" %>
</div>

  <% end %>
<script>
//We are hiding answer form first. 
// after clicking the link, we are showing answer form . 

  $(function(){
    $('#answer-form').hide();
  });
  
  $("#answer-link").click(function(){
    $("#answer-link").hide();
    $('#answer-form').show();
  });
</script>



<%= render "questions/question_side_bar" %>
