<h3><%= @question.title %></h3><hr/>
<p><b>Content:</b> <br><%= raw @question.content %></p><br>
<p><b>Tags:</b> <%= @question.tags %></p><br>
<p><b>Category:</b> <%= @question.category.title %></p><br>
<p><b>posted by:</b><%= @question.user.name %><br/>
  <% if current_user.present? %>
    <% if @question.user_id == current_user.id %>
      <%= link_to "Edit", edit_question_path(@question.id) %>
    <% end %>
  <% end %>


<div class="answer-index">
  <%= render 'answers/index' %>
</div>




<a href="#" id="answer-link">Answer this question </a>
<div id="answer-form">
  <h4>Answer</h4>
  <%= render "answers/new" %>
</div>


<script>
//We are hiding answer form first. 
// after clicking the link, we are showing answer form . 

  $(function(){
    $('#answer-form').hide();
  });
  
  $("#answer-link").click(function(){
    $("#answer-link").hide();
    $('#answer-form').show();
  });
</script>
