<h1>Question</h1><hr/>
Title:<%= @question.title %><br/>
Content:<%= raw(@question.content) %><br/>
Tags related:<%= @question.tags %><br/>
<%= link_to 'Edit Question', edit_question_path(@question)%> | 
<%= link_to 'All Questions', questions_path%>
