<%= form_for(@blog) do |f| %>
   <%= render "shared/validations" %>


<%= f.label :title, "Title" %> 
  <%= f.text_field :title,:style => "margin: 0px 0px 10px; width: 650px;" %><br>
  <%= f.label :content, "Content" %>  
  <%= f.bootsy_area :content, :style => "margin: 0px 0px 10px; width: 650px; height: 282px;" %>
  <%= f.label :tags, "Category" %> 
  <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :title) %><br>
  <%= f.label :tags, "Tags" %> 
  <%= f.hidden_field :tags %> 
    <input type="text" id="tag">
    <i class="icon-plus-sign hand_sym" id="add_tag"></i><br>
    <span id="tags"></span><br/>
  <%= f.submit "Submit"%> 
<% end %>

<%= render "blogs/blog_side_bar" %>

<script>
  
  function display_tags(){
    $('#tags').html("");
    $.each($('#blog_tags').val().split(","), function( index, value ) {
      if(value.trim()!=""){
        $('#tags').append("<span class='label label-inverse'><span>"+value+" </span><a href='#' onclick='remove_tag(this)'>x</a></span> ");
      }    
    });
    var all_tags = "";
    $.each($('#tags span span'), function( index, value ) {
      all_tags = $(this).text().trim()+","+all_tags;
    });
    $('#blog_tags').val(all_tags);
  } 
  
  
  function remove_tag(obj){
    $(obj).parent().remove();
    var all_tags = "";
    $.each($('#tags span span'), function( index, value ) {
      all_tags = $(this).text().trim()+","+all_tags;
    });
    $('#blog_tags').val(all_tags);
  }
  
  display_tags();
 
  $('#tag').keyup(function(key){
    if(key.keyCode == 13){
        add_tag();
      }
  });
  
  $("#add_tag").click(function(){
        add_tag();
  });
  
 //prevent enter key form submittion 
  
  $("#tag").keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

  function add_tag(){
      $('#tags').text($('#tag').val().trim()+","+$('#blog_tags').val());
      $('#blog_tags').val($('#tags').text());
      $('#tag').val("");
      display_tags();
  }
</script>
