<% blogs.each do |blog| %><br>
<h4><%= link_to blog.title, blog_path(blog.id) %></h4>

<%= truncate(blog.content, :ommision => "... Read More", :length => 20) %>

<%= link_to "Read More", blog_path(blog.id) %><br>



<b>Category:</b><%= link_to blog.category.title, show_blogs_category_path(blog.category.id) %><br>
  <p class="pull-right">
    <% blog.tags.split(',').each do |tag| %> 
        <span class="label label-info"><i class=" icon-tag"></i> <a href="#"><%= tag %></a></span>
      <% end %>
   </p><br>
    
    
    <p class="pull-right posted_by">
      <i class="icon-user"></i><%= link_to blog.user.name, user_blogs_user_path(blog.user.id) %>
      <i class="icon-time"></i> <%= format_time(blog.created_at) %>
    </p>
     <div class="clear"></div><hr>
    
<% end %>

<div id="paginator">
  <%= paginate blogs, :remote => true %>
</div>

<%= render "blogs/blog_side_bar" %>
