<div id="comments">
  <% blogs.each do |blog| %>
    <div class="comment">
       <p class="pull-right">
         <% blog.tags.split(',').each do |tag| %> 
          <span class="label label-info"><i class=" icon-tag"></i><%= link_to tag, tags_blogs_path(:tag => tag), :remote => true %></span>
      <% end %>
    </p>
    <p>
        <span class="label label-inverse">
                <i class="icon-briefcase"></i> 
                <%= link_to blog.category.title, show_blogs_category_path(blog.category.id)%>
             </span>
        </p>
        <div class="clear"></div>
      <h4><%= link_to blog.title, blog_path(blog.id), :class=>"post_title"  %></h4>
      <%= truncate(blog.content, :ommision => "... Read More", :length => 350) %>
        <%= link_to "Read More",blog_path(blog.id) %><br>
      <p class="pull-right posted_by">
        <i class="icon-user"></i> <%= link_to blog.user.name, user_blogs_user_path(blog.user.id) %>
        <i class="icon-time"></i> <%= (blog.created_at) %>
      </p>
    </div>
    <br/>
  <% end %>  
</div>
<div id="paginator">
  <%= paginate blogs, :remote => true %>
</div>
<%= render "blogs/blog_side_bar" %>

