<p class="pull-right">
<% @blog.tags.split(',').each do |tag| %> 
  <span class="label label-info"><i class=" icon-tag"></i> <a href="#"><%= tag %></a></span>
  <% end %>
</p>
<p>
   <span class="label label-inverse"><i class="icon-briefcase"></i> <a href="#"><%= @blog.category.title %></a></span>
</p>
<h4 class="post_title">
  <%= @blog.title %> 
</h4>
<p class="post_content">
  <%= raw @blog.content %>
</p>

<p><b>Posted by:</b> <%= @blog.user.name %></p><br>
  <% if current_user.present? %>
    <% if @blog.user_id == current_user.id %>
      <%= link_to "Edit",edit_blog_path(@blog.id) %>
    <% end %>
  <% end %> 
<%= link_to "Show All", blogs_path %>

<div>
<%= render 'comments/index' %>
</div>
<div>
<%= render 'comments/new' %>
</div>







