<h3>Hello <%= @user.name %>,</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b><%=@comment_user.name%>  </b>  commented on your <b><%= @commentable_type%></b>
<b>"<%= @title%></b>" as <b>" <%= @content %> "</b>


