<h4> Comment here</h4>

<%= form_for Comment.new do |comment| %>
  <input type="hidden" value="<%= params[:id]%>" name="commentable_id">
  <input type="hidden" value="<%= (params[:controller]).classify %>" name="commentable_type">
  <%= comment.text_area :content, :style => "width: 750px;", :name=>"content"%><br>
  <%= comment.submit "content", :class => "btn btn-success"%>
<%end%>

