<h3>List of Articles </h3><hr>
<%= link_to "Add New Article", new_article_path %><br>
<% @articles.each do |article| %><br>
  <b>Title:</b><%= link_to article.title, article_path(article.id) %><br>
  <b>Content:</b><%= raw(article.content) %><%= link_to "Read More",article_path(article.id) %><br>
  <b>Tags:</b><%= article.tags %><br>
  <b>Category:</b><%= article.category.title %><br><hr>
<% end %>  



