<h3> Article Show Page </h3><hr>

<p><b>Title:</b><%= @article.title %></p></br>
<p><b>Content:</b><%= @article.content %></p><br>
<p><b>Tags:</b><%= @article.tags %></p><br>
<%= link_to "Edit",edit_article_path(@article.id) %>
<%= link_to "Show All", articles_path %>

