<p class="pull-right">
<% @article.tags.split(',').each do |tag| %> 
  <span class="label label-info"><i class=" icon-tag"></i> <a href="#"><%= tag %></a></span>
  <% end %>
</p>
<p>
   <span class="label label-inverse"><i class="icon-briefcase"></i> <a href="#"><%= @article.category.title %></a></span>
</p>
<h4 class="post_title">
  <%= @article.title %> 
</h4>
<p class="post_content">
  <%= raw @article.content %>
</p>

<% if current_user.present? %>
  <% if @article.user_id == current_user.id %>
    <%= link_to "Edit",edit_article_path(@article.id) %>
  <% end %>
<% end %>

<%# link_to "Show All", articles_path %>
<p class="pull-right posted_by">
  <i class="icon-user"></i> <%= @article.user.name %>
  <i class="icon-time"></i> <%= format_time(@article.created_at) %>
</p>
<div>
  <%= render 'comments/index' %>
</div>
<div>
  <%= render 'comments/new' %>
</div>

<%= render "articles/article_side_bar" %>
