<% code_snippets.each do |code| %>
   <%= link_to code.title, code_snippet_path(code.id) %>
    
    <%= truncate(code.content, :ommision => "...", :length => 20) %><%= link_to "Read More",code_snippet_path(code.id) %><br>
    <b>Tags:</b> <%= code.tags %><br/>


    <b>Category:</b><%= link_to code.category.title, show_code_snippets_category_path(code.category.id) %><br>
    <b>Posted by:</b><%= link_to code.user.name, user_code_snippets_user_path(code.user.id) %><hr/>
<% end %>


<div id="paginator">
  <%= paginate code_snippets, :remote => true %>
</div>

