<h2>List of Snippets</h2><hr>

<% @code_all.each do |code| %>
 <%=link_to code.title, code_snippet_path(code.id) %><br>
 <b>Content:</b><%= truncate(code.content, :ommision=>"..read more", :length =>50) %><%= link_to "Read more",code_snippet_path(code.id) %><br>
 <b>Tags:</b><%= code.tags %><br><hr>
<%end%><br>



<%= link_to "click to add new code snippet" ,new_code_snippet_path %>
