<h3>Code snippet</h3><hr>
<b>Title </b>
<%= @code.title %><br>
 <b>Content </b>
<%= @code.content %><br>
<b>Tags </b>
<%= @code.tags %><br><br><br>
<%= link_to "Edit", edit_code_snippet_path %>&nbsp
<%= link_to "Show All", code_snippets_path %>
