<h3>Code snippet</h3><hr>
<b>Title </b>
<%= @code.title %><br>
 <b>Content </b>
<%= @code.content %><br>
<b>Tags </b>
<%= @code.tags %><br><br>
<%= @code.category.title %><br>

<%= link_to "Edit Code Snippet", edit_code_snippet_path %> &nbsp |&nbsp
<%= link_to "All Code Snippet", code_snippets_path %><hr>

<div>
<%= render 'comments/index' %>
</div>
<div>

<%= render 'comments/new' %>
</div>

