<h3>Code snippet</h3><hr>
<b>Title </b>
<%= @code.title %><br>
 <b>Content </b>
<%= @code.content %><br>
<b>Tags </b>
<%= @code.tags %><br><br><br>
<<<<<<< HEAD
<%= link_to "Edit Code Snippet", edit_code_snippet_path %>&nbsp
<%= link_to "All Code Snippet", code_snippets_path %>
=======
<%= render 'comments/new' %>
<%= link_to "Edit", edit_code_snippet_path %>&nbsp
<%= link_to "Show All", code_snippets_path %>
>>>>>>> e8cce341bcdc3d39cd0576ea5829aae5ec72620b
