<div class="container main_container">
        <div> <h1 id="name"><%= @user.name %></h1>
        <% if @user.id == current_user.id %>
          <div class="a pull-right" style="margin-top:-30px;">
          <%= link_to "Edit", edit_user_path(@user) %> <i class="icon-pencil"></i>
          </div>
          <% end %>
        </div><hr>
        <div class="span12">
        <%  if @user.avatar? %>
          <div class="userimage span3">
             <%= image_tag(@user.avatar_url, :size => "160x180") %>
          </div>
        <% else %>
          <div class="userimage span3">
            <img alt="" src="/assets/user.jpeg" height="160" width="180"></img>
          </div>
        <% end %>
          <div class="userdetails span5">
            <table>
              <tbody>
                  
                <tr>
                  <th> info</th>  
                  <td> Profile Name: </td>
                  <td> <%= @user.profile_name %></td>
                </tr>
                
                <tr>
                  <th></th>
                  <td>Full Name:</td>  
                  <td><%= @user.name%></td>
                </tr>
                <tr>
                  <th> </th>  
                  <td> Email:</td>
                  <td> <%= @user.email %> </td>
                </tr>
                <tr>
                  <th> visits</th>  
                  <td> last seen: </td>
                  <td> 2hrs ago </td>
                </tr>
                <tr>
                  <th> repuation</th>  
                  <td> Badges: </td>
                  <td> 20 </td>
                </tr>
              </table>
            </tbody>
          </div> 
          <div class="usercomment span4"><br>
            <p class="text-center">"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."</p>
          </div>          
       </div>
       
       <div class="clear"></div>
       <hr>
       
       <%= render "users/data_list" %>
       
  </div>
   </div>
 
 
 
