<ul class="nav pull-right">
  <li>
    <%= link_to "Subscribe NewsLetter", subscribe_user_path(current_user.id), :class=>params[:controller]=="users"? "active":"" %>
  </li>
  <li>
    <%= link_to "Users",users_path, :class=>params[:controller]=="users"? "active":"" %>
  </li>
  <li>
    <%= link_to "Articles",articles_path, :class=>params[:controller]=="articles"? "active":"" %>
  </li>
  <li>
    <%= link_to "KEDB", questions_path, :class=>params[:controller]=="questions"? "active":"" %>
  </li>
  <li>
    <%= link_to "Blog",blogs_path, :class=>params[:controller]=="blogs"? "active":"" %>
  </li>
  <li>
    <%= link_to "Code Base", code_snippets_path, :class=>params[:controller]=="code_snippets"? "active":"" %>
  </li>
  <% if current_user.present? %>
  
  <li><a class="" data-toggle="dropdown" href="#"><%= session["oauth"]["first_name"] %></a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", profile_user_path(current_user.id) %><br/></li>
      <li><%= link_to "Logout", destroy_user_session_path, id: "logout" %></li>      
    </ul>
  </li>
  <% else %>
      <li> 
        <a href="/users/auth/google_oauth2">Login</a>
      </li>
  <% end %>
</ul>



